/* 1 экран. HTML, CSS, JS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT hoves", sans-serif;

}
#hello {
  padding: 37px 121px 160px;
}
.logo {
  width: 295px;
  margin-bottom: 85px;
}
.info {
  display: flex;
  gap: 30px 161px;
  flex-wrap: wrap;
  margin-bottom: 78px;
}
.subtitle {
  font-size: 21px;
  font-weight: 700;
}
h1 {
  font-size: 80px;
  font-family: "Chava", sans-serif;
  margin-bottom: 40px;
}
.description {
  font-size: 27px;
  max-width: 930px;
  line-height: 140%;
  margin-bottom: 20px;
}
.btn_wrapper {
  display: flex;
  gap: 20px 30px;
  flex-wrap: wrap;
}
button {
  width: 328px;
  cursor: pointer;
  padding: 20px 0;
  border-radius: 12px;
  border: 2px solid #6e3aba;
  background-color: #6e3aba;
  color: white;
  font-size: 18px;
}

button.secondary {
  color: #6e3aba;
  background-color: white;
}

#hello {
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  background-position: top 121px right 58px;
  background-size: 30vw;
}

/* 2 экран. Этот курс для тебя, если ты...*/
section {
  padding: 0 calc(24px + (121 - 24) * ((100vw - 375px) / (1280 - 375)));
  margin-bottom: 160px;
}

h2 {
  font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 500;
  line-height: 107%;
  text-transform: uppercase;
}

.courseFor h2 {
  max-width: 710px;
  margin-bottom: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
}

h5 {
  font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
  margin: 10px 0 20px 0;
}

.profession {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.face {
  max-width: 450px;
  margin-bottom: calc(40px + (52 - 40) * ((100vw - 375px) / (1280 - 375)));
}

.face img {
  max-width: 100%;
}

p {
  font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 400;
  line-height: 140%;
}

#facemoji-3 {
  width: 192px;
  height: 192px;
}

#facemoji-4 {
  width: 192px;
  height: 192px;
}

/* 3 экран. Таймер скидки*/
.purpleBg {
  background-color: #6e3aba;
}

section.purpleBg {
  text-align: center;
  padding-top: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375)));
  padding-bottom: calc(41px + (88 - 41) * ((110vw - 375px) / (1280 - 375)));
}

h3 {
  font-size: calc(34px + (52 - 34) * ((100vw - 375px) / (1280 - 375)));
  /* гуглить: как построить уравнение прямой проходящей через две точки */
  font-weight: 700;
  line-height: 117%;
  color: #ffffff;
  text-transform: uppercase;
}

.timer {
  display: flex;
  justify-content: space-around;
  margin-top: calc(20px + (57 - 20) * ((100vw - 375px) / (1280 - 375)));
  margin-bottom: calc(20px + (57 - 20) * ((100vw - 375px) / (1280 - 375)));
}

.timerElem .value {
  font-family: "Chava";
  font-size: calc(60px + (174 - 60) * ((100vw - 375px) / (1280 - 375)));
  line-height: 107%;
  color: #2f1d4e;
}

.timerElem .desc {
  font-size: calc(10px + (27 - 10) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 500;
  line-height: 118%;
  color: #2f1d4e;
  text-transform: uppercase;
}

/* 4 экран. А кто преподаёт?*/
.bio {
  margin-top: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
  display: flex;
  gap: 20px 51px;
  flex-wrap: wrap;
}

.coolTeacher {
  flex-basis: 240px;
  flex-grow: 1;
  max-width: 400px;
}

.coolTeacher img {
  width: 100%;
}

.bioText {
  flex-basis: 340px;
  flex-grow: 3;
}

h4 {
  font-size: calc(38px + (48 - 38) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 700;
  line-height: 121%;
}

.bioText p {
  font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 400;
  line-height: 140%;

  margin-top: 20px;
  margin-bottom: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
}

.experience {
  display: flex;
  justify-content: space-between;
}

.bioText > :nth-child(4) {
  margin-top: calc(30px + (40 - 30) * ((100vw - 375px) / (1280 - 375)));
}

.exp {
  width: calc(156px + (250 - 156) * ((100vw - 375px) / (1280 - 375)));
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exp img {
  width: 36px;
}

span {
  font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
  line-height: 140%;
}

/* 5 экран. За 2 месяца ты станешь...*/
.becomeFrontender h2 {
  margin-bottom: calc(20px + (90 - 20) * ((100vw - 375px) / (1280 - 375)));
}

.ourHelp {
  display: flex;
  flex-wrap: wrap;
  gap: calc(30px + (120 - 30) * ((100vw - 375px) / (1280 - 375)));
  margin-bottom: calc(30px + (52 - 30) * ((100vw - 375px) / (1280 - 375)));

}

.weDo {
  width: 400px;
}

/* 6 экран. Программа курса */

.programBorder {
  border: 2px solid black;
  padding-top: calc(40px + (81 - 40) * ((100vw - 375px) / (1280 - 375)));
  padding-bottom: calc(23px + (35 - 23) * ((100vw - 375px) / (1280 - 375)));
  padding-right: calc(20px + (52 - 20) * ((100vw - 375px) / (1280 - 375)));
  padding-left: calc(20px + (60 - 20) * ((100vw - 375px) / (1280 - 375)));

  position: relative;
}

#corner {
  width: calc(35px + (120 - 35) * ((100vw - 375px) / (1280 - 375)));
  position: absolute;
  top: -2px;
  right: -2px;
}

.programBorder h2 {
  padding-bottom: 16px;
}

.lessons {
  list-style-type: none;
  padding-bottom: calc(24px + (34 - 24) * ((100vw - 375px) / (1280 - 375)));
}

.lesson {
  padding: 24px 0 24px 0;
  border-bottom: 1px solid #a1a1a1;
  font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
  line-height: 140%;
}

.desktop {
  display: block;
  margin: 0 auto;
  width: 428px;
}

.mobile {
  display: none;
  margin: 30px auto;
  width: 328px;
}

/* 7 экран. Диплом об окончании */

.diploma {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 20px;

  align-items: start;
}

.diploma img {
  width: 100%;
  grid-row: 1 / 3;
}

/* 8 экран. Cколько можно зарабатывать?*/
.howMuch h2 {
  max-width: 730px;
  margin-bottom: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
}

.howMuch p {
  max-width: 876px;
  margin-bottom: calc(20px + (36 - 20) * ((100vw - 375px) / (1280 - 375)));
}

.howMuch img {
  width: 100%;
} 

/* 9 экран. Кроме этого тебя ждут*/
.bonus {
  display: flex;
}

.bonus img {
  width: 100%;
  margin-top: 30px;
}

.bonusText {
  margin-top: 90px;
}

.bonusText p {
  font-size: calc(18px + (21 - 18) * ((100vw - 375px) / (1280 - 375)));
  line-height: 140%;
  max-width: 100%;
  padding-bottom: 25px;
}

/* 10 экран. Отзывы наших студентов*/

.studentsFeedback h2 {
  margin-bottom: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
}

.feedbackCase {
  display: flex;
  gap: 30px;
}

.case {
  width: calc(328px + (335 - 328) * ((100vw - 375px) / (1280 - 375)));
  height: 484px;
  background-color: #F0F7FD;
  border-radius: 12px; 
}

.case > :nth-child(1) {
  margin-top: calc(50px + (57 - 50) * ((100vw - 375px) / (1280 - 375)));
  margin-left: calc(15px + (20 - 15) * ((100vw - 375px) / (1280 - 375)));
}

.initials {
  font-size: calc(18px + (21 - 18) * ((100vw - 375px) / (1280 - 375)));
  margin-left: calc(15px + (20 - 15) * ((100vw - 375px) / (1280 - 375)));
  max-width: 170px;
  display: flex;
  gap: 12px;
}

.initials img {
  border-radius: 40px
}

.initials div {
  margin-top: 9px;
}

.case p {
  font-size: 21px;
  width: 295px;
  line-height: 140%;
  margin: 8px 20px 40px 20px;
}

.case:nth-of-type(3) p {
  width: 305px;
  margin-bottom: 10px;
}

/* 11 экран. Таймер скидки???*/

/* 12 экран. Немного о нас*/

.aboutUs {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 97px;
  align-items: start;
}

.aboutUs h5 {
  font-size: calc(22px + (27 - 22) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 600;
  line-height: 140%;
  width: calc(380px + (426 - 380) * ((100vw - 375px) / (1280 - 375)));
  text-transform: uppercase;

  grid-row: 2/3;
}

.stat {
  font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
  width: 500px;
  font-weight: 700;
  line-height: 118%;
}


/* 13 экран. Всё ещё сомневаешься?*/
.splide__slide :nth-child(3) {
  width: 507px;
}


/* 14 экран. Запишись на курс*/
 #goCourse {
  background-color: #222222;
}

.joinUs {
  display: flex;
}

.signUp h2 {
  color: white;
}

.youGet span {
  color: white;
}

.youGet span:first-of-type{
  text-transform: uppercase;
}

#courseForm {
  background-color: white;
  width: 475px;
  height: 600px;
}

#courseForm :nth-child(3) {
  text-align: center;
}
.discount {
  
}

.request {
  font-size: 30px;
  font-weight: 700;
  line-height: 118%;
  text-align: center;
  text-transform: uppercase;
}

.contacts {
  text-align: center;
  font-size: 18px;
  line-height: 118%;
}
.contacts span:first-child {
  font-weight: 600;
}
.contacts span:last-child {
  white-space: pre-line;
}




/* Медиазапросы */
@media (max-width: 710px) {
  .diploma {
    grid-template-columns: 1fr;
  }

  .diploma img {
    grid-row: 2/3;
  }

  .aboutUs {
    grid-template-columns: 1fr;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .lesson:last-child {
    border-bottom: none;
  }

  .programBorder {
    padding: 40px 28px 0 20px;
  }

  .bonus {
    flex-wrap: wrap;
  }
 
  .invisible {
    display: none;
  }
}
